
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" >
    <p></p>
    <p><a> Personal cabinet </a></p>
    <p><a> Messages </a></p>
    <p><a routerLink="/my-startups"> My Startups </a></p>
    <p><a> Contacts </a></p>
    <p><a> Favorites </a></p>
    <p><a routerLink="/startup-edit"> Create startup </a></p>
    <mat-divider></mat-divider>
    <p>
      <button mat-button (click)="onClick()"> Hide </button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>

      <button class = "absolutPositionButton" mat-button (click)="onClick()" *ngIf="!opened">...</button>
      <ng-content>

      </ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>

