.example-container {

}
mat-sidenav{
  background-color: grey;
  color: white;
}
.side-nav-text{

}

.absolutPositionButton{
  position: absolute;
}

p {
  margin: 10px 10px 10px 5px;
}

a:visited{
  color: white;
}
