<body>
<mat-card fxLayout="row"  fxLayoutGap="10px" fxFlexAlign="space-between start">
  <img mat-card-md-image src="/src/assets/images/Logo.png" >
  <mat-card-title-group fxFlex="1 1 70%">
    <mat-card-title>{{account.firstName}} {{account.secondName}}</mat-card-title>
    <mat-card-subtitle>{{age}} years</mat-card-subtitle>
    <mat-card-subtitle>{{account.email}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-actions fxFlex="1 1 20%">
      <button mat-button>Contact</button>
      <button mat-button>Add</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
  <mat-card-title>Resume</mat-card-title>
  <mat-card-actions>
   <button mat-raised-button class="resume-button" *ngFor="let item of account.resumes">{{item.businessRole.businessRoleName}}</button>
  </mat-card-actions>
<mat-divider></mat-divider>
  <mat-card-title>Skills</mat-card-title>
<div fxLayout="row" fxLayoutGap="10px">
  <mat-chip-list *ngFor="let skill of resumeSkills">
    <mat-chip>{{skill}}</mat-chip>
  </mat-chip-list>
</div>
<mat-divider></mat-divider>
<mat-card-title>About</mat-card-title>
<mat-card-content>{{account.aboutMe}}</mat-card-content>
<mat-divider></mat-divider>
<mat-card-title>Education</mat-card-title>
<mat-card>
  <mat-list *ngFor="let education of account.educations">
  <mat-list-item>
    <h4>{{education.completionYear}}     {{education.institution}}</h4>
  </mat-list-item>
  </mat-list>
</mat-card>
<mat-divider></mat-divider>
<mat-card-title>Startups</mat-card-title>
<div class="project" fxLayout="row" fxLayoutGap="2%">
<mat-card *ngFor="let project of projects"  class="project-item">
<mat-card-content >
  <img mat-card-md-image src="">
  <mat-card-title>{{project.startupName}}</mat-card-title>
  <mat-card-subtitle>{{project.businessRoleName}}</mat-card-subtitle>
</mat-card-content>
</mat-card>
</div>
<mat-divider></mat-divider>
 <mat-card-title>Work experience</mat-card-title>
 <mat-card *ngFor="let workExp of account.workExperiences"   fxLayoutGap="10px" fxFlexAlign="space-between start" >
   <img mat-card-sm-image src="/src/assets/images/Logo.png" >
   <mat-card-title-group fxFlex="1 1 30%">
      <mat-card-title>{{workExp.workPlace}}</mat-card-title>
      <mat-card-subtitle>{{workExp.position}}</mat-card-subtitle>
      <mat-card-subtitle>{{workExp.start|date: 'dd/MM/yyyy'}}-{{(workExp.finish|date: 'dd/MM/yyyy')||"now"}}</mat-card-subtitle>
   </mat-card-title-group>
 </mat-card>
</body>
