main{
  margin: 0 6% 0 6%;
  padding: 1% 2% 0 2%;
}

img {
  height: 100%;
}

.skill-button{
  width: 10%;
}
mat-divider{
  margin: 2% 0 2% 0;
}

.project{
  width: available;
}
.project-item{
  text-align: center;
  width: min-content;
}
.spinner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100%;
  width: 100%;
}
.center-spinner{
  margin: auto;
}
