<main>
  <app-startup-search-toolbar></app-startup-search-toolbar>
  <div class="spinner">
    <mat-spinner *ngIf="isLoading | async;else startupTable" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #startupTable>
    <div style="width: 90%" *ngIf="(startupList|async)?.length !== 0; else empty">
      <div *ngFor="let startup of startupList | async ">
        <mat-card class="example-card">
          <img mat-card-lg-image="" class="full-size" src="https://drive.google.com/thumbnail?id={{startup.compressedImageId}}" alt="startupLogo">
          <mat-card-content>
            <p align="center">
              <a routerLink="/startup/{{startup.id}}">
                {{startup.startupName}}
              </a>
            </p>
            <p class="box">
              {{startup.idea}}
            </p>
            <p>
              {{startup.sumOfInvestment}}$              Created by: {{startup.account.user.login}}
            </p>
            <div *ngIf="!startup.nonBlock" style="color: red">
              <ng-template ngxPermissionsOnly="ADMIN">  <button (click)="unBlockStartup(startup)"> Unblock Startup  </button></ng-template>
              Стартап заблокирован
            </div>
            <div *ngIf="startup.nonBlock">
              <ng-template ngxPermissionsOnly="ADMIN">  <button (click)="blockStartup(startup)"> Block Startup  </button></ng-template>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-template>
</main>

<ng-template #empty>
  <h5> Such startups were not found</h5>
</ng-template>
