<main>
<div *ngFor="let startup of startupList | async">
  <mat-card class="example-card">
    <img mat-card-lg-image="" class="full-size" src="/src/assets/images/Logo.png">
    <mat-card-content>
      <p align="center" >
        <a routerLink="/startup/{{startup.id}}">
          {{startup.startupName}}
        </a>
      </p>
      <p class="box">
        {{startup.idea}}
      </p>
      <p>
        {{startup.sumOfInvestment}}$
      </p>
    </mat-card-content>
  </mat-card>
</div>
</main>


