img {
  border-radius: 50%;
}

.full-size {
  width: 80px;
  height: 80px;
}

.delete-button {
  height: 40px;
  margin-right: 10px;
  margin-left: auto;
}

.example-card {
  height: 100px;
  width: 900px;
  padding: 10px;
  margin-top: 5px;
}

.contacts-list {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
