<main>
  <div class="spinner">
    <mat-spinner class="center-spinner" *ngIf="isSelected | async; else sForm" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>

  <ng-template #sForm>
    <form [formGroup]="startupForm">
      <div class="imageBlock">

        <app-image-upload (valueChange)='getImageAsString($event)'></app-image-upload>
      </div>

      <div class="rightFromImageBlock">
        <table>
          <tr>
            <mat-label> Startup name</mat-label>
            <mat-form-field>
              <input matInput placeholder="Startup name" [formControlName]="'startupName'" maxlength="255" >
            </mat-form-field>

          </tr>
          <tr>
            <mat-form-field>
              <mat-label> Idea </mat-label>
      <textarea matInput  maxRows="5" placeholder="Idea" [formControlName]="'idea'" maxlength="255" >
      </textarea>
            </mat-form-field>
          </tr>

          <tr>
            <mat-form-field>
              <input matInput placeholder="Sum of investment" [formControlName]="'sumOfInvestment'" maxlength="8" >
              <span matPrefix>$</span>
            </mat-form-field>
          </tr>
        </table>
        <button mat-raised-button=""> Load image</button>

      </div>

      <div class="block">
        <mat-form-field style="width: 100%">
      <textarea matInput  maxRows="5" placeholder="About project" [formControlName]="'aboutProject'" maxlength="255">
      </textarea>
        </mat-form-field>
      </div>

      <div class="block">
        <mat-form-field style="width: 100%">
      <textarea matInput maxRows="5" placeholder="Business plan" [formControlName]="'businessPlan'" maxlength="255">
      </textarea>
        </mat-form-field>
      </div>


      <div class="blockText">
        <h3><b> Members:</b></h3>
      </div>


      <div>
        <mat-card style="width: 250px; margin-right: 15px; margin-top: 15px; margin-bottom: 15px">
          <mat-card-header>
            <img mat-card-avatar src="https://drive.google.com/thumbnail?id={{checkOnCreate().compressedImageId}}" onError="this.src='/src/assets/images/Person.jpg'">
            <mat-card-title *ngIf="getAccount()!==null"> {{ checkOnCreate().firstName }} <br/>
              {{checkOnCreate().lastName}}
            </mat-card-title>
            <mat-card-title *ngIf="getAccount()===null"> UNKNOWN</mat-card-title>
            <mat-card-subtitle> LEADER</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>


      <div *ngFor="let res of startupForm.get('startupResumes').value">
        <mat-card style=" margin-right: 15px; margin-top: 15px; margin-bottom: 15px; width: 250px" *ngIf="res.accepted === true ">
          <mat-card-header>
            <img mat-card-avatar src="https://drive.google.com/thumbnail?id={{res.resume.account?.compressedImageId}}" onError="this.src='/src/assets/images/Person.jpg'">
            <mat-card-title> {{res.resume.account.firstName}}<br/> {{res.resume.account.lastName}}</mat-card-title>
            <mat-card-subtitle> {{res.resume.businessRole.businessRoleName}} {{getStartupRole(res.resume.account.id)}}</mat-card-subtitle>
            <mat-card-content>
              <i class="material-icons" *ngIf="((currentUser|async)?.account.id === currentStartup?.account.id)|| checkPermission(res.resume.account.id)" (click)="kickMember(res.id, res.resume.account.id)" style="cursor: pointer">
                delete
              </i>
              <i class="material-icons" *ngIf="((currentUser|async)?.account.id === currentStartup?.account.id)|| checkPermission(res.resume.account.id)" (click)="changeRole(res.resume.account.id)" style="cursor: pointer">
                create
              </i>
            </mat-card-content>
          </mat-card-header>
        </mat-card>
      </div>

      <mat-divider style="width: 90%"></mat-divider>


      <div class="blockText" *ngIf="pendingResumes?.length !== 0">
        <h3><b> Pending members:</b></h3>
      </div>
      <div *ngIf="pendingResumes?.length !==0 ;else empty" >
        <div *ngFor="let res of pendingResumes">
          <mat-card style="width: 250px; margin-right: 15px; margin-top: 15px; margin-bottom: 15px"
                    *ngIf="res.accepted === false ">
            <mat-card-header>
              <img mat-card-avatar src="https://drive.google.com/thumbnail?id={{res.resume.account?.compressedImageId}}" onError="this.src='/src/assets/images/Person.jpg'">
              <mat-card-title> {{res.resume.account.firstName}}<br/> {{res.resume.account.lastName}}</mat-card-title>
              <mat-card-subtitle> {{res.resume.businessRole.businessRoleName}}</mat-card-subtitle>
              <mat-card-content>
                <i class="material-icons" (click)="rejectResume(res.id)" style="cursor: pointer">
                  delete
                </i>
                <i class="material-icons" (click)="acceptResume(res.id, res.resume.account.id)" style="cursor: pointer">
                  add
                </i>
              </mat-card-content>
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <ng-template #empty>
        <h5 style="margin-top: 20px"> No pending member at that moment </h5>
      </ng-template>

      <mat-divider style="width: 90%"></mat-divider>


      <div *ngIf="id!==null">
        <mat-spinner *ngIf="isLoading | async" mode="indeterminate" color="primary" diameter="30">
        </mat-spinner>
        <button mat-raised-button="" class="btnControl" (click)="updateStartup()" [disabled]="startupForm.invalid"> Save
        </button>
        <button mat-raised-button="" class="btnControl" (click)="goBack()"> Cancel</button>
      </div>

      <div *ngIf="id===null">
        <mat-spinner *ngIf="isLoading | async" mode="indeterminate" color="primary" diameter="30">
        </mat-spinner>
        <button mat-raised-button="" class="btnControl" [disabled]="startupForm.invalid" (click)="createStartup()">
          Create
        </button>
        <button mat-raised-button="" class="btnControl" (click)="goBack()"> Cancel</button>
      </div>

    </form>
  </ng-template>

</main>
