main {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 80%;
  padding: 40px;
  margin: auto;
}

.imageBlock {
  padding-top: 30px;
}

.rightFromImageBlock {
  padding-top: 30px;
  padding-left: 5%;
  width: 470px;
  height: 370px;
}

mat-form-field{
  width: 100%;
  font-size: 19px;
}

table{
  width: 100%;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgParametrs{
  height: 250px;
  width: 450px;
}


.buttonInBlock{
  width: 150px;
  height: 50px;
}

.block{
  margin-top: 30px;
  width: 90%;
}


.blockStartupMembers{
  flex-wrap: wrap;
  margin: 15px;
  width: 25%;
}
.blockText {
  width: 90%;
  height: 30px;
}

/*.example-header-image {*/
   /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
   /*background-size: cover;*/
 /*}*/

.btnControl{
  width: 175px;
  height: 50px;
  margin: 15px 15px 0 0;
}

.spinner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
.center-spinner{
  margin: auto;
}
textarea{
  max-height: 75px;
  width: 100%;
}
.template{

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;

}

span:focus {
  outline:none;
}
button:focus{
  outline:none;
}

