main {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 80%;
  padding: 40px;
  margin: auto;
}

.img {
  padding-top: 30px;
  width: 200px;
  height: 200px;
}

.nameAndRole {
  padding-top: 30px;
  padding-left: 5%;
  width: 470px;
}

.rightFromImageBlock {
  display: flex;
  flex-flow: row;
}

.header {
  overflow: hidden;
}

.about {
  margin-top: 30px;
}


