main {
  padding-left: 50px;
}

.img {
  padding-top: 30px;
  width: 200px;
  height: 200px;
}

.nameAndRole {
  padding-top: 30px;
  padding-left: 5%;
  width: 470px;
}

.rightFromImageBlock {
  display: flex;
  flex-flow: row;
}

.header {
  overflow: hidden;
}

.about {
  margin-top: 30px;
}
.btnControl{
  width: 175px;
  height: 50px;
  margin: 15px 15px 0 0;
}


