main {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding-left: 50px;
}
.spinner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
.img {
  padding-top: 30px;
  width: 200px;
  height: 200px;
}
.full-size {
  width: 200px;
  height: 200px;
}

.nameAndRole {
  padding-top: 30px;
  padding-left: 5%;
  width: 470px;
}

.rightFromImageBlock {
  display: flex;
  flex-flow: row;
}

.skillsAndInfo{
  margin-top: 20px;
}

.btnControl{
  width: 175px;
  height: 50px;
  margin: 15px 15px 0 0;
}

mat-dialog-content {
  padding: 30px 50px;
}


.header {
  overflow: hidden;
}

.about {
  margin-top: 30px;
}




