<main>
  <div>
    <mat-spinner *ngIf="isSelected | async; else resumeView" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #resumeView>
    <mat-dialog-content>
      <div class="header">
        <!--img class="header-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Account avatar"-->
        <div class="rightFromImageBlock">
          <div class="img">
            <img mat-card-lg-image="" class="full-size"
                 src="https://drive.google.com/thumbnail?id={{(resume | async)?.account.compressedImageId}}"
                 alt="resumeLogo">
          </div>


          <div class="nameAndRole">
            <h4>{{(resume | async)?.businessRole.businessRoleName}}</h4>
            <a routerLink="//specialist-list/{{(resume | async)?.account.id}}">{{(resume | async)?.account.firstName}} {{(resume | async)?.account.lastName}}</a><br>
          </div>
        </div>


        <br><h5>Skills</h5>
        <mat-chip-list>
          <div *ngFor="let resumeSkill of (resume | async)?.resumeSkills">
            <mat-chip>{{resumeSkill.skillName}}</mat-chip>
          </div>
        </mat-chip-list>

        <div class="about">
          <div class="info-edu">
            <div class="about_info">
              <h5>Information</h5>
              <p>
                {{(resume | async)?.info}}
              </p>
            </div>
          </div>

          <div class="button">
            <button mat-raised-button="" class="btnControl" (click) = "onEditClick()"
                    *ngIf="currentUser && (currentUserAccountId === (resume | async)?.account.id)"> Edit
            </button>
            <button mat-raised-button="" class="btnControl" (click)="onDeleteResume()"
                    *ngIf="currentUser && (currentUserAccountId === (resume | async)?.account.id)"> Delete
            </button>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </ng-template>
</main>
