<main>
  <div class="spinner">
    <mat-spinner *ngIf="isSelected | async; else sForm" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #sForm>
    <form [formGroup]="resumeForm">
      <div class="header">
        <!--img class="header-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg"
             alt="Account avatar"-->


        <div class="rightFromImageBlock">
          <div class="img">
            <img mat-card-lg-image="" class="full-size"
                 src="https://drive.google.com/thumbnail?id={{getAccount().compressedImageId}}" alt="startupLogo">
          </div>


          <div class="nameAndRole">
            <div>
              <a>{{getAccount().firstName}} {{getAccount().lastName}}</a><br>
            </div>
            <div *ngIf="id!==null">
              <h4>{{resumeForm?.get('businessRole').value.businessRoleName}}</h4>
            </div>
            <mat-form-field>
              <mat-select placeholder="Business Role" [formControlName]="'businessRole'">
                <mat-option *ngFor="let role of rolesList" [value]="role">
                  {{role.businessRoleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
          </div>
        </div>

        <div class="skillsAndInfo">
          <div *ngIf="id!==null">
            <br><h5>Skills</h5>
            <mat-chip-list>
              <div *ngFor="let resumeSkill of resumeForm?.get('resumeSkills').value">
                <mat-chip>{{resumeSkill.skillName}}</mat-chip>
              </div>
            </mat-chip-list>
          </div>

          <mat-form-field>
            <mat-select placeholder="Select skill" [compareWith]="compareSkills" [formControlName]="'resumeSkills'"
                        multiple>
              <mat-option *ngFor="let skill of skillsList" [value]="skill">{{skill.skillName}}</mat-option>
            </mat-select>
          </mat-form-field>


          <div class="about_info">
            <h5>Information</h5>
            <p>
              <mat-form-field>
                <input matInput placeholder="Info" [formControlName]="'info'">
              </mat-form-field>
            </p>
          </div>
        </div>

          <div align="left">
            <div *ngIf="id!==null">
              <button mat-raised-button="" class="btnControl" (click)="updateResume()" [disabled]="resumeForm?.invalid">
                Save
              </button>
              <button mat-raised-button="" class="btnControl" (click)="goBack()"> Cancel</button>
            </div>
            <div *ngIf="id===null">
              <button mat-raised-button="" class="btnControl" [disabled]="resumeForm?.invalid" (click)="createResume()"
                      routerLink="/resume/list"> Create
              </button>
              <button mat-raised-button="" class="btnControl" (click)="goBack()"> Cancel</button>
            </div>
          </div>
      </div>

    </form>
  </ng-template>
</main>
