<div class="join-startup-dialog">
  <h1 mat-dialog-title> Choose your resume </h1>
  <form [formGroup]="resumeChooseForm">
    <mat-radio-group [formControlName]="'resume'">
      <mat-radio-button *ngFor="let resume of myResumeListNotInStartup" [value]="resume">
        <mat-card>
          <mat-card-content>
            {{resume?.businessRole.businessRoleName}}
            <a (click)="goToResume(resume?.id)"> (Click to view detailed)</a>
            <br>
            Skills:
            <span *ngFor="let skill of resume?.resumeSkills"> {{skill.skillName}}</span>
          </mat-card-content>
        </mat-card>
      </mat-radio-button>
    </mat-radio-group>
    <p>
    <i class="material-icons" style="cursor: pointer" (click)="createNewResume()">
      add
    </i> <span (click)="createNewResume()" style="cursor: pointer"> Create new resume </span>
    </p>
    <div class="controls">
      <button mat-button color="primary" (click)="sendResume()" [disabled]="resumeChooseForm.invalid"
              [mat-dialog-close]="" cdkFocusInitial>
        Send resume
      </button>
      <button mat-button color="warn" (click)=onCancelClick()> Close</button>
    </div>
  </form>
</div>
