mat-form-field {
  width: 100%;
}

mat-radio-button{
  width: 100%;
}
h1 {
  text-align: center;

}

.join-startup-dialog {
  display: flex;
  flex-direction: column;
  font-size: 16pt;
  justify-content: space-between;
}

mat-card {
  width: 500px;
}

.spinner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

button {
  font-size: 17px;
}
