<main>
  <app-startup-search-toolbar></app-startup-search-toolbar>
  <div class="spinner">
    <mat-spinner *ngIf="isLoading | async;else startupsTable" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #startupsTable>
    <h2> Startup leader </h2>
    <mat-divider style="width: 95%"></mat-divider>
    <div style="width: 90%">
      <div style="width: 90%" *ngIf="(startupListLeader | async).length !==  0;else empty">
        <div *ngFor="let startup of startupListLeader | async">
          <ng-container *ngTemplateOutlet="startupCard; context: {'startup': startup}"></ng-container>
        </div>
      </div>
    </div>

    <h2> Startup member</h2>
    <mat-divider style="width: 95%"></mat-divider>

    <div style="width: 90%">
      <div style="width: 90%" *ngIf="(startupListMember | async).length !== 0;else empty">
        <div *ngFor="let startup of startupListMember | async">
          <ng-container *ngTemplateOutlet="startupCard; context: {'startup': startup}"></ng-container>
        </div>
      </div>
    </div>

  </ng-template>
</main>

<ng-template #startupCard let-startup="startup">
  <mat-card class="example-card">
    <img mat-card-lg-image="" class="full-size" src="https://drive.google.com/thumbnail?id={{startup.compressedImageId}}" onError="this.src='/src/assets/images/defaultImageForStartup.png';">
    <mat-card-content>
      <p align="center">
        <a style="font-size: 17px" routerLink="/startup/{{startup.id}}">
          {{startup.startupName}}
        </a>
      </p>
      <p class="box">
        {{startup.idea}}
      </p>
      <p>
        <span style="font-size: 16px"> Needed: {{startup.sumOfInvestment}}$ </span>   &nbsp;<span style="font-size: 16px"> Created by: </span> <a routerLink="/account/{{startup.account.id}}" style="font-size: 16px">  {{startup.account.user.login}} </a>
      </p>

    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #empty>
<h4 align="center" style="margin-top: 20px"> Such startups were not found </h4>
</ng-template>

