<mat-dialog-content>
  <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Account avatar">

  <h3>{{data.resume.businessRole.businessRoleName}}</h3>

  <a>{{data.resume.account.firstName}} {{data.resume.account.secondName}}</a><br>

  <br><h5>Ключевые навыки</h5>
  <mat-chip-list>
    <div *ngFor="let resumeSkill of data.resume.resumeSkills">
      <mat-chip>{{resumeSkill.skill.skillName}}</mat-chip>
    </div>
  </mat-chip-list>

  <br><h5>Информация</h5>
  <p>
    {{data.resume.info}}
  </p>

  <br><h5>Образование</h5>
  <mat-list *ngFor="let education of data.resume.account.educations">
    {{education.completionYear}} <b>{{education.institution}}</b>
    <mat-divider></mat-divider>
  </mat-list>

  <br><h5>Опыт работы</h5>
  <mat-list *ngFor="let workExp of data.resume.account.workExperiences">
    <b>{{workExp.position}}</b><br>
    {{workExp.workPlace}}<br>
    {{workExp.start}} - {{workExp.finish}}
    <mat-divider></mat-divider>
  </mat-list>
</mat-dialog-content>
