.startup-toolbar{
  background-color: transparent;
  width: 80%;
  /*margin-top: 10px;*/
  margin: auto;
}

.sortTypeSelect{
  width:200px;
}

.buttonSearch{
  width: 200px;
}

mat-form-field{
  width: 130px;
  font-size: 16px;
}

mat-label{
  font-size: 17px;
}
