<!--main>
  <div *ngFor="let resume of resumes">
    <div class="mat-card-item" (click)="openDetailDialog(resume)">
      <mat-card>

        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>

          <mat-card-title>
            {{resume.businessRole.businessRoleName}}

            <font size="-0.5" color="#a9a9a9">
              <p>
                {{resume.account.firstName}}
                {{resume.account.lastName}}
              </p>
            </font>
          </mat-card-title>

          <mat-card-subtitle>
            <mat-chip-list>

              <div *ngFor="let resumeSkill of resume.resumeSkills">
                <mat-chip>{{resumeSkill.skill.skillName}}</mat-chip>
              </div>

            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </div>
  </div>
</main-->
<main>
  <div class="spinner">
    <mat-spinner *ngIf="isLoading | async ;else  resumeTable" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #resumeTable>
    <div class="container" *ngFor="let resume of (resumeList | async)">
      <div class="mat-card-item">
        <mat-card class="example-card">
          <a href="resume/{{resume.id}}"> <img mat-card-lg-image="" class="full-size" src="/src/assets/images/Logo.png">
          </a>
          <mat-card-content>
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title align="left">
                {{resume.businessRole.businessRoleName}}
                <font size="-0.5" color="#a9a9a9">
                  <p>
                    {{resume.account.firstName}}
                    {{resume.account.lastName}}
                  </p>
                </font>
              </mat-card-title>

              <mat-card-subtitle>
                <mat-chip-list>

                  <div *ngFor="let resumeSkill of resume.resumeSkills">
                    <mat-chip>{{resumeSkill.skill.skillName}}</mat-chip>
                  </div>
                </mat-chip-list>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-template>
</main>

