<main>
  <div *ngFor="let resume of resumes">
    <mat-card>

      <mat-card-header>
        <mat-card-title>
          {{resume.businessRole.businessRoleName}}
          <font size="-1" color="#a9a9a9">
            <a>
              {{resume.account.firstName}}
              {{resume.account.secondName}}
            </a>
          </font>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>

            <div *ngFor="let resumeSkill of resume.resumeSkills">
              <mat-chip>{{resumeSkill.skill.skillName}}</mat-chip>
            </div>

          </mat-chip-list>
        </mat-card-subtitle>
        <mat-card-content>
        </mat-card-content>
      </mat-card-header>

    </mat-card>
  </div>
</main>
